<!DOCTYPE html>
<html>
	<head>
		<title>Connect Four</title>
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<h3>BY: <span class="name">JAME PAUL G. ALMERINO</span></h3>
		<hr />
		<table cellspacing="0" id="main" class="disabled"></table>
		<div id="controls">
			<select id="versus">
				<option value="1" selected="selected">Human</option>
				<option value="2">Computer</option>
			</select>
			<button id="start">Start</button>
			<button disabled="disabled" id="reset">Reset</button>
			<span id="loading" style="display: nonex;">Loading...</span>
		</div>
	</body>
</html>
