<h3>BY: <span class="name">JAME PAUL G. ALMERINO</span></h3>
<hr />
<table cellspacing="0" id="main" class="disabled"></table>
<div id="controls">
	<select id="versus">
		<option value="1" selected="selected">Human</option>
		<option value="2">Computer</option>
	</select>
	<button id="start">Start</button>
	<button disabled="disabled" id="reset">Reset</button>
	<span id="loading" style="display: nonex;">Loading...</span>
</div>